<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="On" defaultRedirect="">
			<error statusCode="404" redirect="~/Default.aspx" />
		</customErrors>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>