body { background-color: #92e299; }

#wrapper { margin-top: 20px; }

#header, #footer { background-color: #e8ace4; padding: 10px 0 10px 0; line-height: 32px; }
#header a, #footer a { color: #003DB8; font-weight: bold; }

#menu { padding-top: 1rem; padding-right: 0px; background-color: #008080; color: #fff; }
#menu ul { list-style-type: none; padding: 0; }
#menu a { display: block; padding: 8px; color: white; font-weight: 600; letter-spacing: 2px; }
#menu .selected { background-color: darkmagenta; }

#content { background-color: #F5F5F5; padding-top: 30px; }

.playing { font-weight: bold; }
.folder { background:  url(folder.png) top left no-repeat; padding-left: 34px; height: 32px; display: inline-block; }

#toggle-expand { background: url(maximize.png) no-repeat; display: block; height: 32px; width: 32px; float: right; }
.expanded #toggle-expand { background-image: url(minimize.png); }
.expanded .container, .expanded #content { max-width: 100%; flex: 0 0 100%; }
.expanded #menu { display: none; }
